body, html{
    margin: 0px;
  }
  html{
    scroll-behavior: smooth;
  }
  
  #navbar{
    background-color:#050505;
    width:100%;
    height:110px;
    top:0;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    
  }
  .cv-image{
    width: 510px;
    height: 520px;
    border-radius: 100%;
    
  }

  .about-me{
    font-family: monospace;
    font-size: 20px;
    width: 700px;
    height: auto;
  }
  .li-skills-logo, li{
    list-style-type: none;    
    padding-left: 50px;
    
  }
  #skills{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #050505;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .skills-header{
    font-family: monospace;
    font-weight: 700;
    font-size: 40px;
    color: #0de049;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .li-skills-logo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding-right: 50px;
  }
  .skills-logo{
    width: 100px;
    height: 100px;
  }
  .myname{
    background-color: #050505;
    color:  #0de049;
    font-family: monospace;
    font-size: 37px;
    margin-left: 40px;
    font-weight: bold;
    width: 30%;

  }
  
  .nav-list-item{
    list-style-type:none;
    margin-left: 40px;
  }
  
  .nav-list{
    display:flex;
    justify-content:space-evenly;
    box-sizing: border-box;
    margin-right: 70px;
    width: 100%;
    font-size: 32px;
    align-items: center;
    /* background-color: #45567d; */
  }
  
  .navigation{
    display:flex;
    justify-content:flex-end;
    width: 100%;
  }
  
  .list-link {
    text-decoration:none;
    color:white;
    font-family:monospace;
  }
  .list-link:hover{
      color:#0de049;
  }
  
  .my-name{
     width: 100%;
     height:100vh;
     margin-top:110px;
     background-color: #0f0f0f;
     /* background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); */
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-wrap: wrap;
  }
  
  .name-tag {
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-direction:column;
    font-size:35px;
    color:white;
  }
  
  .goga{
    font-family:monospace;
    margin-bottom:0px;
  }
  .web-developer{
    font-family:monospace;
    margin-top:10px;
    font-style:italic;
    color: #0de049;
  }
  .project-page{
    width:100%;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    align-items:center;
    padding-top: 100px;
    background-color:#000000;
  }
  .project-heading{
    text-align:center;
    padding-top:10px;
    
  }
  .project-header{
    margin:10px;
    text-decoration:2px solid underline;
    text-decoration-color: #0de049;
    text-underline-offset: 10px;
    color:#0de049;
    font-family:monospace;
    
  }
  
  .projects-container{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    text-align:center;
    flex-wrap:wrap;
    width: 80%;
    height:auto;
    margin:0px auto;
    background-color:#000000;
    padding-top:20px;
  }
  
  .project-cards{
    width: 350px;
    height: 370px;
    margin-top: 20px;
    background-color:#AFEEEE;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    align-items:center;
    
    
  }
  .photo{
    height:80vh;
    width:100%;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#DC143C;
    color:white;
    font-family:monospace;
    font-size: 20px;
    
  }
  
  .photo-tag{
    color:#DC143C;
    font-family:monospace;
    font-weight:bold;
    font-size: 20px;
    margin-top:10px;
    margin-bottom:10px;
  }
  
  .project-link{
    text-decoration:none;
    
  }
  
  .hidden{
    display:none;
  }
  
  .project-link:hover .hidden{
     
      display:inline;
    
  }

  .show-all{
    width:180px;
    height:60px;
    background-color:#000000;
    color:#0de049;
    font-family:monospace;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
    margin:40px auto;
    border-radius: 6px;
  }
  .show-all:hover {
    background-color:#0de049;
    color: white;
  }
  .contact-heading {
      color:white;
      font-family:monospace;
      font-size:50px;
      margin-bottom:0px;
      
  }
  .contact-par{
     color:white;
     font-family:monospace;
     font-size:20px;
     margin-top: 0px;
     padding-top:0px;
     font-style:italic;
    
  }
  .contact-text{
    padding-top:40px;
  }
  .contact-page{
    background-color:#000000;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
  }
  
  .icon-img{
    width: 40px;
    height:auto;
    color:#0de049;
  }
  .contact-container{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    text-align:center;
    padding-bottom:100px;
    padding-top:30px;
   
  }
  .icons{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    margin-left:50px;
    margin-top:40px;
    color:white;
    transition: margin-top 0.2s;
  }
  
  .icons:hover{
    margin-top:20px;
  }
  
  .icon-span{
    font-size:17px;
    font-family:monospace;
    margin-left:8px;
    font-weight:bold;
    color:white;
  }
  
  .last-bottom{
    width:100%;
    padding-top:20px;
    border-top: 5px solid #DC143C;
  /*   background-color:yellow; */
    background-color:#000000;
  }
  .last-bottom2{
    width:60%;
    padding-bottom: 40px;
    border-top: 5px solid #DC143C;
  }
  .skills-text{
    font-family: monospace;
    font-size: 17px;
    text-align: center;
    font-weight: 800;
    color: #0de049;
  }
  .last-bottom-p{
    color:#0de049;
    font-size:21px;
    font-family:monospace;
    margin-bottom:0px;
    padding-bottom:40px;
    margin-top:10px;
    font-weight:bold;
    background-color:#000000;
    text-align:center;
  }
.last-logo{
  background-color: #DC143C;
  margin-top: -70px;
  border-radius: 10px 10px 0px 0px;
}

.last-logo-image{
  width: 250px;
}
  
  @media all and (max-width: 800px){
    .cv-image{
      width: 88%;
    }
    .nav-list{
      flex-direction:column;
      justify-content:space-evenly;
      margin-top:0px;
    }
    .navigation{
      justify-content:space-evenly;
      text-align:center;
      padding-top:20px;

    }
    #navbar{
      height:150px;
      margin-bottom: 100px;
      margin-right: 20px;
    }
    .contact-container{
      flex-direction:column;
    }
    .my-name{
      padding-top: 80px;
    }
    .web-developer{
      font-size: 20px;
    }
    .myname{
      margin-top: 0;
      font-size: 30px;
      width: 50px;
    }
    .about-me{
      font-size: 20px;
      box-sizing: border-box;
      width: 80%;
      overflow-wrap: break-word;
    }
  
  }
